* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins';
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../Image/19366.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.budi {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Image/19366.jpg');
}


.navbar {
position: absolute;
top: 0;
background-color: #313442;
font-family: Poppins, sans-serif;
width: 100%;
height: 90px;
display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 30px;
border-radius: 0 0 35px 35px;
}


.navbar ul {
display: flex;
gap: 30px;
list-style: none;
}




.navbar li a {
color: white;
font-size: 20px;
font-weight: lighter;
text-decoration: none;
display: flex;
align-items: center;
gap: 15px;
margin-right: 60px;
}


.navbar li a:hover {
    color: #2D55B4;
    cursor: pointer;
}




.main-section {
    text-align: center;
    margin-top: 100px;
}




.signup-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}




.hide-container{
    visibility: hidden;
}




.hide-containers{
    visibility: hidden;
}




#logob {
    width: 400px;
    max-width: 80%;
}




/* Sign-up buttons styling */
.signup-box {
    background-color: #333;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signup-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.signup-box h3 {
    font-size: 14px;
    font-weight: normal;
    color: #bbb;
    margin-bottom: 5px;
}

.signup-box a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

/* Technician button styling */
.signup-box.technician {
    background-color: white;
    color: #333;
    border: 2px solid #007bff;
}

.signup-box.technician a {
    color: #007bff;
}

/* Responsive styling */
@media (max-width: 600px) {
    .signup-container {
        flex-direction: column;
        align-items: center;
    }

    .signup-box {
        width: 200px;
        margin: 10px 0;
    }
}

.about-pop{
    left: 30%;
    top: 17%;
    position: absolute;
    height: 70%;
    width: 40%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255);
    z-index: 6;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
}

.done {
    position:absolute;
    right: 45%;
    bottom: 5%;
    padding: 1%;
    height: 35px;
    width: 10%;
    color: white;
    background-color: rgb(43, 67, 122);
    z-index: 20;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

.done:hover {
    cursor: pointer;
    background-color: rgb(52, 81, 146);
}

h1 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: lighter;
    color: rgb(35,35,35);
    margin-top: 20px
}

.about-pop h3 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: lighter;
    color: rgb(35,35,35);
    font-size: 25px;
    margin-top: 30px;
}

.about-pop h4 {
    text-align: justify;
    text-justify: inter-word;
    margin-top:3%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: lighter;
    font-size: 75%;
    color: rgb(40,40,40);
}

.contacts-pop {
    left: 35%;
    top: 17%;
    position: absolute;
    height: 70%;
    width: 30%;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    visibility: hidden;
}

.open-contacts{
    visibility: visible;
}

.Contactus {
    position:absolute;
    right: 35%;
    bottom: 5%;
    padding: 1%;
    height: 35px;
    width: 30%;
    color: white;
    background-color: rgb(43, 67, 122);
    z-index: 20;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

.Contactus:hover {
    cursor: pointer;
    background-color: rgb(52, 81, 146);
}

.Name input {
    font-family: sans-serif;
    font-weight: lighter;
    height: 3em;
    width: 60%;;
    position: relative;
    left: 20%;
    border-radius: 15px;
    border: solid 2px;
    padding: 15px;
    font-size: 16px;
    border-color: rgba(220, 220, 220, 0.5);
    outline-color: #2D55B4;
}

.Name input:focus{
    border-color: #2D55B4;
}

.Email input {
    font-family: sans-serif;
    font-weight: lighter;
    height: 3em;
    width: 60%;;
    position: relative;
    left: 20%;
    border-radius: 15px;
    border: solid 2px;
    border-color: rgba(220, 220, 220, 0.5);
    padding: 0 0;
    margin-top: 30px;
    font-size: 16px;
    outline-color: #2D55B4;
    padding: 15px;
}

.Email input:focus{
    border-color: #2D55B4;
}

textarea {
    font-family: sans-serif;
    font-weight: lighter;
    width: 60%;;
    position: relative;
    left: 20%;
    height: 40%;
    border-radius: 15px;
    border: solid 2px;
    outline-color: #2D55B4;
    margin-top: 30px;
    font-size: 16px;
    background-color: transparent;
    resize: none;
    padding: 15px;
    border-color: rgba(220, 220, 220, 0.5);
}