body {
    margin: 0;
    background: #000000;




 
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../Image/19366.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    position: relative;
    z-index: -1;
    font-family: 'Poppins';
}




body {
    margin: 0;
    background: #000000;




 
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../Image/19366.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    position: relative;
    z-index: -1;
    font-family: 'Poppins';
}




*{
    text-decoration: none;
}
.navbar{
    position: absolute;
    top: 0;
    border-radius: 0% 0% 35px 35px;
    background-color: #313442;
    font-family: Poppins;
    width: 100%;
    height: 90px;
   
}
.navdiv{
        position: absolute;
        display: flex;
        align-items: center;
       
        right: 10px;
        top: 15px;
}




.navdiv a div:hover i{
    color: #2D55B4;
}




.navdiv div:hover{
    color: #2D55B4;
}




li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin: 60px;
}
.container img{
    width: 90%;
    border-radius: 10%;
   
}




.container{
    width: 20%;
    max-width: 450px;
    height: 430px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255);
    text-align: center;
    border-radius: 20px;
    padding: 50px 60px 70px;
    z-index: 5;
   
}




.signup{
    font-size: 90%;
    font-family: poppins;
    font-weight: lighter;
    margin: 20px 0;
    opacity: 0.8;
   
}




.input-field{
    height: 15%;
    margin: 5px 0;
   
    align-items: center;
    display: flex;
   
}








.input-field input{
    background: transparent;
    font-size: 100%;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
















}








.btn{
    width: 100%;
    height: 10%;
    margin: 10px 0;
    font-size: 17px;
    color: white;
    background: transparent;
    background-color: #313442;
    border: none;
    outline: none;
    border: rgba(0, 0, 0, 1);
    border-radius: 10px;    
}




.google{
    width: 80%;
    height: 10%;
    font-size: 100%;
    color: rgb(0, 0, 0);
    background-color: #c2c2c2;
    border: none;
    border-radius: 30px;  
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}




.google:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}




.google img{
    width: 15%;
    z-index: 10;
   
   
}




input{
    width: 100%;
    background: transparent;
    font-size: 20px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 7px;
    outline: 1px;
    padding: 10px 10px;
    font-family: Poppins;
    z-index: 2;
}




.title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    white-space: nowrap;
    font-family:poppins;
    font-size: 95%;
    font-weight: 100;
    margin: 15px 0;
    opacity: 0.8;
}




.title::before, .title::after{
    content: "";
    height: 1px;
    background-color: #000000;
    display: block;




}




.fa-solid{
    color: white;
    padding-right: 10px;
}




.fa-regular{
    color: white;
    padding-right: 10px
}




.fa-circle-info {
    top: 16.5%;
    right: 85%;
    position: absolute;
}




.about{
    color: white;
    font-size: 20px;
    right: 100%;
    position: absolute;
    display: inline;
    top: 16px;
}




.about:hover{
    cursor: pointer;
}
.contacts{
    color: white;
    font-size: 20px;
    right: 30%;
    position: absolute;
    display: inline;
    top: 16px;
}




.contacts:hover {
    cursor: pointer;
}




.about-pop{
    left: 30%;
    top: 17%;
    position: absolute;
    height: 70%;
    width: 40%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255);
    z-index: 6;
    visibility: hidden;
}




.contacts-pop {
    left: 35%;
    top: 17%;
    position: absolute;
    height: 70%;
    width: 30%;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    visibility: hidden;
}




h1 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: lighter;
    color: rgb(35,35,35);
}




h3 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: lighter;
    color: rgb(35,35,35);
    font-size: 25px;
}




h4{
    text-align: justify;
    text-justify: inter-word;
    margin-top:3%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: lighter;
    font-size: 75%;
    color: rgb(40,40,40);
}








.open-popup{
    visibility: visible;
}




.open-contacts{
    visibility: visible;
}




.done {
    position:absolute;
    right: 45%;
    bottom: 5%;
    padding: 1%;
    height: 1.5em;
    width: 3em;
    color: white;
    background-color: rgb(43, 67, 122);
    z-index: 20;
    border-radius: 15px;
    text-align: center;
    font-size: 15;
}
.done:hover {
    cursor: pointer;
    background-color: rgb(52, 81, 146);
}




.Contactus {
    position:absolute;
    right: 37%;
    bottom: 5%;
    padding: 1%;
    height: 1.5em;
    width: 26%;
    color: white;
    background-color: rgb(43, 67, 122);
    z-index: 20;
    border-radius: 15px;
    text-align: center;
}




.Contactus:hover {
    cursor: pointer;
    background-color: rgb(52, 81, 146);
}




.Name input {
    font-family: sans-serif;
    font-weight: lighter;
    height: 3em;
    width: 60%;;
    position: relative;
    left: 20%;
    border-radius: 15px;
    border: solid 2px;
    padding: 15px;
    font-size: 16px;
    border-color: rgba(220, 220, 220, 0.5);
    outline-color: #2D55B4;
}




.Name input:focus{
    border-color: #2D55B4;
}




.Email input {
    font-family: sans-serif;
    font-weight: lighter;
    height: 3em;
    width: 60%;;
    position: relative;
    left: 20%;
    border-radius: 15px;
    border: solid 2px;
    border-color: rgba(220, 220, 220, 0.5);
    padding: 0 0;
    margin-top: 30px;
    font-size: 16px;
    outline-color: #2D55B4;
    padding: 15px;
}

.Email input:focus{
    border-color: #2D55B4;
}

textarea {
    font-family: sans-serif;
    font-weight: lighter;
    width: 60%;;
    position: relative;
    left: 20%;
    height: 40%;
    border-radius: 15px;
    border: solid 2px;
    outline-color: #2D55B4;
    margin-top: 30px;
    font-size: 16px;
    background-color: transparent;
    resize: none;
    padding: 15px;
    border-color: rgba(220, 220, 220, 0.5);
}

#signIn-btn:hover {
    background-color: rgb(65, 68, 88);
    cursor: pointer;
}

.signupline {
    color: rgb(40, 40, 150);
}

.signupline:hover {
    color: rgb(68, 68, 255);
}

.hide-container{
    visibility: hidden;
}


.messageDiv{
    background-color: #696969;
    position: absolute;
    color: white;align-items: center;
   
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 5s forwards;
   
}


